<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Comment" >
    <id column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="a_id" property="aId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="user_id" property="uId"/>
    <result column="user_icon" property="userIcon"/>
    <result column="user_name" property="userName"/>
    <result column="a_title" property="title"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_comment
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Comment" useGeneratedKeys="true"
          keyProperty="cId">
    insert into t_comment (c_id, a_id, u_id, 
      c_time, is_del, content
      )
    values (#{cId,jdbcType=INTEGER}, #{aId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{cTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Comment" >
    update t_comment
    set
      content = #{content,jdbcType=LONGVARCHAR}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select c_id, a_id, u_id, c_time, is_del, content
    from t_comment
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
  <select id="selectAllById" resultMap="BaseResultMap" >
    select c_id, a_id, u_id, c_time, is_del, content
    from t_comment where is_del=0 and a_id=#{id} order by c_time desc
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select c_id, a_id, u_id, c_time, is_del, content
    from t_comment where is_del=0
    order by c_time desc
  </select>

  <select id="searchCom" resultMap="BaseResultMap" parameterType="map">
    select c.*,u.user_name,u.user_id,u.user_icon,a.a_title,a.a_id
    from t_comment c,t_user u,t_article a
    where c.is_del=0
    <if test="keyword!=null">
      and concat(c.content,u.user_name,a.a_title) like '%${keyword}%'
    </if>
    and u.user_id=c.u_id
    and c.a_id=a.a_id
    order by u.register_time desc
  </select>
</mapper>